<!DOCTYPE html>
<html>   
    <form id="upload-form"  method="post" enctype="multipart/form-data">
        <input type="file" id="audio-file" accept=".wav" id="sound" name="audio-file" />
        <input type="submit" value="Upload" id="upload"/>
      </form> 
      <!-- <script>
        function musique(){
          var son =document.querySelector("#sound");
          xhr = new XMLHttpRequest();
          xhr.open("POST","index.html");
          xfr.onload = function(){
            alert(xfr.responseText);
          }
          var form = new FormData();
          form.append("image",image.files[0]);

          xhr.send(form);
          return false;
        }
      //    const element = document.getElementById("upload");
      //   element.addEventListener("click", myFunction());
      //   function myFunction(){
      //     let musique = document.getElementById("upload-form").files[0];  // file from input
      //     let req = new XMLHttpRequest();
      //     let formData = new FormData();
      //     formData.append("musique", musique);                                
      //     req.open("POST", '/fichier');
      //     req.send(formData);
      // };
    </script>    -->

</html>